html,
body {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 0;
    height: 100%;
    min-height: 100% !important;
    width: 100%;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}
